*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: #212121;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #212121;
}
::-webkit-scrollbar-thumb{
  background-color: #00ffbb;
  border-radius: 20px;
}

@keyframes beat {  
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}